body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  /* overflow-x: hidden; */
}

nav {
  position: fixed;
  left: 3vw;
  top: 3vh;
  text-align: left;
  font-size: 20px;
}

#start-screen {
  position: absolute;
}

#gameover-screen {
  /* visibility: hidden; */
  /* opacity: 0; */
  position: absolute;
  transition: opacity 1s;
  text-align: center;
}

#scoreboard-overlay {
  position: absolute;
  top: 3vh;
  right: 3vw;
  width: 360px;
  text-align: left;
  width: 300px;
}

#gameover-overlay {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 40px;
  letter-spacing: 4px;
  margin: auto;
  margin-top: 200px;
}

#start-button,
#replay-button {
  width: 500px;
  height: 160px;
  /* background-color: #e889ef; */
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 900;
  transition: background-color 1s;
  margin: 100px auto;
  /* border: none; */
  border: 20px solid #000;
}

#start-button:hover,
#replay-button:hover {
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
}

.hide {
  display: none;
}
