body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  /* overflow-x: hidden; */
}

nav {
  position: fixed;
  left: 3vw;
  top: 3vh;
  text-align: center;
  font-size: 20px;
}

#scoreboard {
  position: absolute;
  top: 3vh;
  right: 3vw;
  width: 360px;
  text-align: right;
}

#gameover-screen {
  /* visibility: hidden; */
  /* opacity: 0; */
  position: absolute;
  transition: opacity 1s;
  text-align: center;
}

#start-screen {
  position: absolute;
  top: 20px;
}

#gameover {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 40px;
  letter-spacing: 4px;
  margin: auto;
  margin-top: 200px;
}

.start-button,
.replay-button {
  /* width: 200px; */
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 4px;
  transition: background-color 1s;
  margin: 100px auto;
}

.start-button:hover,
.replay-button:hover {
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
}

.hide {
  display: none;
}
