body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

nav {
  position: fixed;
  left: 20px;
  top: 20px;
  text-align: left;
}

nav img {
  width: 110px;
}

#start-screen {
  position: absolute;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

#gameover-screen {
  position: absolute;
  transition: opacity 1s;
  text-align: center;
}

#scoreboard-overlay {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: left;
}

.result {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  margin: 20px auto;
  box-sizing: border-box;
}

.styled-table {
  min-width: 300px;
  text-align: center;
  border-collapse: collapse;
}

.styled-table td {
  width: 100px;
  height: 60px;
}

.styled-table tr {
  border: 12px solid #000;
}

#gameover-overlay {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  margin: 40px auto;
  box-sizing: border-box;
}

#start-button,
#replay-button {
  max-width: 360px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  color: #000;
  font-size: 32px;
  font-weight: 900;
  transition: background-color 1s;
  border: 12px solid #000;
}

#start-button:hover,
#replay-button:hover {
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
}

.hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }

  .styled-table {
    min-width: 140px;
  }

  .styled-table td {
    width: 80px;
  }

  #start-button,
  #replay-button {
    font-size: 24px;
  }
}
